<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/header}" xmlns="http://www.w3.org/1999/html">
<!--only_footer, header-->

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/mypage/cus_update.css}">
  <link rel="stylesheet" th:href="@{/css/mypage/btn.css}">
</th:block>


<div layout:fragment="content">

  <body>
    <div class="upcontainer">
      <div class="upheader title">
        <h1>회원정보</h1>
      </div>
      <div class="upmain">
        <div class="content_top">
            <div class="UI_pic">
              <img src="/iamge/반려/미용.jpg" alt="">
            </div>
            <div class="userInfo">
              <div class="UI_Title">| 닉네임 <div id="UI_nickname" class="nickname"
                  th:text="${session.sessionForm.nickname}"></div>
              </div>
              <div class="UI_Title">| 이메일 <div id="UI_email" class="id_value" th:text="${session.sessionForm.email}">
                </div>
              </div>
              <div class="UI_Title">| 연락처 <div id="UI_tel" class="phone-num" th:text="${session.sessionForm.tel}"></div>
              </div>
            </div>
        </div>

        <div class="bottom_title">
          <h2> 회원정보수정 </h2>
        </div>
        <div class="content_bottom">
          <div class="value update_wrap">
            <div class="update_form_title">프로필 사진</div>
            <form method="post" th:object="${updateCKForm}">
              <div class="attachedFile">
                <input type="file" id="file" name="pic">
                <input type="submit" class="button btnUpPic" value="변경">
              </div>
            </form>
            <form action="/update/delete" method="post" id="frm2">
              <input type="submit" class="button btnUpDel" value="삭제">
            </form>
          </div>

          <div class="value update_wrap">
            <div class="update_form_title">별명</div>
            <form class="input nick_form" method="post" th:object="${updateCKForm}">
              <div class="nickname_form">
                <input type="text" class="inner" name="nickname">
              </div>
              <input type="submit" class="button btnUpNick" value="변경">
            </form>
          </div>

          <div class="value update_wrap">
            <div class="update_form_title">전화번호</div>
            <form class="input nick_form" method="post" th:object="${updateForm}">
              <div class="nickname_form">
                <input type="text" class="inner" name="tel">
              </div>
              <input type="submit" class="button btnUpPhone" value="변경">
            </form>
          </div>

          <form action="" method="post" th:object="${updateForm}">
            <div class="value update_wrap">
              <div class="update_form_title">비밀번호</div>
              <div class="input nick_form">
                <div class="nickname_form">
                  <input type="password" class="inner" name="passwd">
                </div>
              </div>
            </div>

            <div class="value update_wrap">
              <div class="update_form_title2">비밀번호 확인</div>
              <div class="input nick_form">
                <div class="nickname_form">
                  <input type="password" class="inner">
                </div>
              </div>
              <div class="pw_btn"><input type="submit" class="button btnUpPswd" value="수정">
              </div>
            </div>
          </form>
        </div>
        <div class="content_finish">
          <!-- <div class="update_finish"><button class="button borderbutton update">수정완료</button></div> -->
          <div class="cus_delete">| 회원탈퇴 |</div>
        </div>
      </div>
    </div>
  </body>
</div>

</html>