/* 컬러 */
:root {
    --color-font1: #003;
    /* 글자색 */
    --color-font2: #bbb;
    /* 서브 글자색 */
    --color-font3: #f0f0f0;
    /* 밝은 회색 */

    --color-bg1: #00B0FA;
    /* 밝은 배경색 */
    --color-bg2: #039;
    /* 어두운 배경색 */
}
*{color: var(--color-font1);}
.upcontainer {
    display: grid;
    grid-template-areas: 
    "   header header header  "
    "   .      main   .       ";
    grid-template-columns: 1fr 824px 1fr;
}

.upheader {
    grid-area: header;
}

.upheader.title {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: end;
    letter-spacing: 5px;
    margin-bottom: 40px;
}
.upheader.title h1{
    width: 800px;
    text-align: center;
    padding-bottom: 20px;
    color: var(--color-bg2);
    font-size: 40px;
    border-bottom: 1px solid var(--color-bg1);
    letter-spacing: 10px;
}

.upmain {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_top,
.content_bottom {
    border-radius: 10px;
    width: 600px;
    height: auto;
    padding: 30px;
}

/* ----------프로필 회원정보 : 상단 ----------*/
.content_top{
    background-color: var(--color-font3);
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}
.content_top .UI_pic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.content_top .UI_pic img{
    background-color: gold;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.UI_Title{
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    font-size: 20px;
    color: var(--color-font1);
    line-height: 1.8;
    margin-left: 10px;
}

#UI_nickname, #UI_email, #UI_tel{
    color: gray;
    padding-top: 5px;
    margin-left: 20px;
}

/* ---------- 회원정보수정(하단) ---------- */
.bottom_title{
    margin: 70px 0 20px;
    font-size: 20px;
}
.bottom_title h2{
    color: grey;
    letter-spacing: 10px;
}

.content_bottom {
    border: 1px solid var(--color-font3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.value.update_wrap{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.value.update_wrap form{
    display: flex;
    flex-direction: row;
}
.update_form_title {
    background-color: var(--color-bg2);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    width: 100px;
    height: 20px;
    margin-right: 20px;
    padding: 5px 0;
}
.update_form_title2 {
    background-color: var(--color-bg2);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    width: 100px;
    height: 20px;
    margin-right: 20px;
    padding: 5px 0;
    letter-spacing: -1px;
}

.inner,
.upload-name {
    background-color: transparent;
    border: 1px solid var(--color-font3);
    width: 300px;
    height: 20px;
    padding: 3px 0;
}

.button.colorbutton{
    background-color: transparent;
}

.btnUpNick, .btnUpPhone, .btnUpPswd, .btnUpDel, .btnUpPic{
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: 1px solid var(--color-bg2);
    color: var(--color-bg2);
    text-align: center;
    margin-left: 20px;
    border-radius: 5px;
}
.btnUpNick:hover, .btnUpPhone:hover, .btnUpPswd:hover, .btnUpDel:hover, .btnUpPic:hover{
    background-color: var(--color-bg2);
    color: #fff;
    cursor: pointer;
}

.btnUpPic{
    position: relative;
    left: 10px;
}

.nickname_form, .inner{
    width: 290px;
    padding: 3px 5px;
}
.attachedFile{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    width: 290px;
    padding: 0 5px;
}

/* ---------- 회원탈퇴 ---------- */
.content_finish{
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.content_finish .cus_delete{
    color: var(--color-font2);
    cursor: pointer;
}