/* 컬러 */
:root {
  --color-font1: #003;
  /* 글자색 */
  --color-font2: #bbb;
  /* 서브 글자색 */
  --color-font3: #f0f0f0;
  /* 밝은 회색 */

  --color-bg1: #00B0FA;
  /* 밝은 배경색 */
  --color-bg2: #039;
  /* 어두운 배경색 */
}
.button {
    display: inline-block;
    padding: 5px 15px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 100%;
    height: 100%;
  }
  .colorbutton {
    background-color: var(--color-bg2);
    color: white;
  }
  .borderbutton{
    border-radius: 16px;
    border-color: var(--color-bg2);
    background-color: white;
    color: var(--color-bg2);
    border: 1px solid;
  }
  .button.borderbutton:hover{
    color: var(--color-bg2);
    background-color: white;
  }
  .button.colorbutton:hover{
    border: 1px solid;
    color: var(--color-bg2);
    background-color: white;
  }

  .button.borderbutton.nick,
  .button.borderbutton.phone,
  .button.borderbutton.email,
  .button.borderbutton.password{
    width: 80px;
    margin-left: 10px;
    height: 30px;
  }